=form_for(@assignment,@submission) do |f|
  = f.label "Add Link"
  = f.text_field
  %br/
  = f.label "Add Link"
  = f.text_field
  %br/
  = f.label "Add Link"
  = f.text_field
  %br/
  = f.label "Add Link"
  = f.text_field
  %br/
  = f.label "Add Link"
  = f.text_field
  %br/
  =f.submit