=form_for(@location) do |f|
  = f.label :name
  = f.text_field :name
  %br/
  = f.label :city
  = f.text_field :city
  %br/
  = f.label :state
  = f.text_field :state
  %br/
  = hidden_field_tag 'location[course_ids][]', ''
  -@courses.each do |course|
    %label
      =check_box_tag 'location[course_ids][]', course.id
      =course.name

  =f.submit 