!!!
%html
  %head
    %title Iysm
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"}
%body
.navbar-inverse
  .navbar-fixed-top
  .navbar-brand Iron Yard Student Management
  %br
    .nav.navbar-nav
    .navbar-right
    = link_to "  Login", users_path, class: "glyphicon glyphicon-log-in"

= yield 


